/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    line-height: 1.5;
    background: #489EF1;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
.heading {
    font-size: 1.8rem;
    /* width: 100%; */
    padding: 8rem 0 2rem 0;
    color: rgb(238, 235, 235)
}
.input-username {
    width: 100%;
    padding: 1rem 0.8rem;
    font-size: 1.2rem;
    border-radius: 8px;
    /* border-radius: 50px; */
    outline: 0;
    background: #4B7BEC;
    border: 0;
    box-shadow: 0 0 20px 3px rgba(60, 123, 182, 0.3);
    margin-bottom: 3rem;
    color: white;
    font-weight: 400;
}
.input-username::placeholder {
    color: rgb(212, 208, 208);
    font-weight: 400;
}
.img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.image {
    font-size: 0;
}
.user-details {
    border: 1px solid white;
    padding: 1rem;
    text-align: left;
    margin: left;
    border-radius: 6px;
    display:none;
    background: #4B7BEC
    
    
}
.user-description {
    color: white;
    padding-left: 2rem;
    font-size: 1.2rem;
    letter-spacing: 0.03rem;

}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: aquamarine;
}
.user-id {
    /* padding: 0.5rem 0; */
    color: white;
}
.repos {
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 1rem 0;
}
.repos a {
    color: white;
    margin: 1rem 0;
}
li {
    border-bottom: 1px solid white;
    margin-bottom: 0.5rem;
}
